.partnerships {
	display: flex;
	justify-content: space-between;
}

.partners li {
	padding: 0px 16px 16px 0px;
}

.partners li:last-child {
	padding-bottom: 0;
}

.partners li i {
	margin-right: 5px;
	color: #16A34A;
}

.work {
	background-color: #d4d4d4e0;
	padding: 16px;
	border-radius: 4px;
	margin-top: 16px;
}

.work p {
	font-weight: bold;
	margin-bottom: 8px;
}