/* VARIABLES CSS */
:root {
	--body-font: "Poppins", sans-serif;
	--normal-font-size: .938rem;
	--header-height: 3.75rem;
	--body-color: #F8F7F6;
	--branding-white: #fdfdfd;
	--branding-red: #A91919;
	--branding-red-dark: #650f0f;
	--branding-red-light: #cb7575;
	--branding-black: #121111;
	--branding-blue: #01114C;
	--branding-green: #19a9a9;
	--text-color-black: #1D1C1B;
	--text-color-grey: #646362;
	--font-regular: 400;
	--font-semi-bold: 600;
}